* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/*ICONS NAVBAR*/

.sociais a {
    font-size: 29px;
}

.sociais i {
    transition: 0.3s;
}

.sociais i:hover {
    transform: scale(1.2);
}


/*MENU*/

nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 60px;

    background-color: #081229;

    z-index: 1000;
}

.logo {
    color: white;
    font-size: 32px;
}

nav ul {
    display: flex;
    gap: 35px;

    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;

    font-size: 22px;

    transition: 0.3s;
}

nav a:hover {
    color: #00ff88;
}

.sociais {
    display: flex;
    gap: 20px;
}

/*TYPING*/

#typing {
    color: #00ff88;
    margin-bottom: 10px;
    font-size: 32px;
}

#typing::after {
    content: "|";
    animation: piscar 0.7s infinite;
}

@keyframes piscar {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* PARTE DE CIMA DO SITE*/

header {
    min-height: 100vh;
    background: #081229;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding-top: 120px;
    padding-bottom: 80px;
}


header a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
    line-height: 1.2;
}


p {
    color: white;
    font-size: 26px;
    margin-bottom: 10px;
}



/*BOTÃO DO HEADER*/

button {

    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;

    background-color: #00ff88;
    color: black;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background-color: #0ea5e9;
}



/*SECTION TECNOLOGIA/LINGUAGENS*/


.tecnologias {
    background-color: #0f172a;

    text-align: center;

    padding: 120px 20px;
}

.tecnologias h2 {
    font-size: 48px;
    margin-bottom: 20px;

    color: white;
}

.tecnologias p {
    font-size: 20px;
    color: #cbd5e1;

    margin-bottom: 50px;
}

.tecnologias img {
    width: 100%;
    max-width: 1100px;

    border-radius: 25px;

    box-shadow: 0 0 40px rgba(0, 255, 136, 0.15);

    transition: 0.3s;
}



/*SECTION SOBRE*/

.sobre {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #0a0f2c;
    color: white;
    text-align: center;
}

.sobre h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

.sobre p {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    font-size: 22px;
    line-height: 1.8;
    color: #ddd;
    
}



/*PROJETOS*/

.projetos {
    padding: 100px 20px;

    text-align: center;
}

.projetos h2 {
    font-size: 40px;

    margin-bottom: 50px;
}



/*CARDS*/

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.card {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.card:hover {
    transform: translateY(-10px);
    border: 1px solid #38bdf8;
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.3);
}

.card h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.card p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #cbd5e1;
}


/*FOOTER/ RODAPÉ*/

footer {
    background-color: #050b1f;

    color: white;

    text-align: center;

    padding: 60px 20px;

    display: flex;

    flex-direction: column;

    align-items: center;
}

footer h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

footer p {
    color: #bbb;
    margin-bottom: 30px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 25px;

    margin-bottom: 30px;
}

.redes a {
    color: white;
    text-decoration: none;

    font-size: 29px;

    transition: 0.3s;
}

.redes a:hover {
    color: #00ff88;
}

footer span {
    color: #777;
    font-size: 14px;
}



/*RESPONSIVIDADE*/

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .sociais {
        flex-wrap: wrap;
        justify-content: center;
    }

    header {
        padding-top: 180px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 38px;
    }

    #typing {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    button {
        width: 100%;
        max-width: 250px;
    }

    .sobre h2 {
        font-size: 38px;
    }

    .sobre p {
        font-size: 18px;
        padding: 0 15px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}
